{   
    BasedOnStyle: LLVM, 
    UseTab: Always, 
    IndentWidth: 4, 
    TabWidth: 4, 
    BreakBeforeBraces: Attach, 
    AllowShortIfStatementsOnASingleLine: true, 
    IndentCaseLabels: false, 
    ColumnLimit: 0, 
    AccessModifierOffset: -4, 
    NamespaceIndentation: All, 
    FixNamespaceComments: false,
    AlignArrayOfStructures: Left,
    AlignConsecutiveMacros: AcrossEmptyLinesAndComments,
    AlignConsecutiveAssignments: Consecutive,
    AlignConsecutiveDeclarations: Consecutive,
    AlignTrailingComments: true,
    AllowShortBlocksOnASingleLine: Always,
}